@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	#root {
		min-height: 100svh;
		display: grid;
		place-content: center;
	}

	/* DM Sans */
	@font-face {
		font-family: 'DM Sans';
		font-style: normal;
		font-weight: 400;
		src: url('./assets/fonts/static/DMSans-Regular.ttf');
	}

	@font-face {
		font-family: 'DM Sans';
		font-style: normal;
		font-weight: 500;
		src: url('./assets/fonts/static/DMSans-Medium.ttf');
	}
	@font-face {
		font-family: 'DM Sans';
		font-style: italic;
		font-weight: 500;
		src: url('./assets/fonts/static/DMSans-MediumItalic.ttf');
	}
}
